<nav class="sidebar sidebar-offcanvas" id="sidebar">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/index">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item nav-category">Crop management</li>
    <li class="nav-item">
      <a class="nav-link" href="/add_crop">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Add Plot/Crop</span>
        <!-- <i class="menu-arrow"></i> -->
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/crop_circle">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Crop Circle</span>
      </a>
    </li>

    <li class="nav-item nav-category">Harvest</li>

    <li class="nav-item">
      <a class="nav-link" href="/harvest">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Submit Harvest</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view_harvest">
        <i class="menu-icon mdi mdi-chart-arc"></i>
        <span class="menu-title">View Harvest</span>
      </a>
    </li>

    <!-- <li class="nav-item nav-category">LiveStock management</li>
    <li class="nav-item">
      <a class="nav-link" href="/livestock">
        <i class="menu-icon mdi mdi-bird"></i>
        <span class="menu-title">LiveStock</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/view_livestock">
        <i class="menu-icon mdi mdi-list-box"></i>
        <span class="menu-title">View LiveStock</span>
      </a>
    </li> -->

    <li class="nav-item nav-category">Task Management</li>

    <li class="nav-item">
      <a class="nav-link" href="/set_schedule">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Set Schedule</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view_schedule">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">View Schedules</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/notification">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Notifications</span>
      </a>
    </li>
    <li class="nav-item nav-category">Logout</li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="menu-icon mdi mdi-logout"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>